[2012-08-22 11:06] frankrousseau opened #1 "Problem with routing when two routes have same beginning"
If two routes like these are registerd in the proxy :
"app/my-app-1"
"app/my-app-11"

Then all requests that goes to "app/my-app-11" will be redirected to "app/my-app-1". Routing is based on beginning of the request path. That's why this error occurs.

[2013-03-14 08:12] #1 closed, assigned to nobody

[2013-03-26 13:20] frankrousseau opened #10 "No logging in production"
Logs should be stored in a file in production.

[2013-05-23 06:03] jsilvestre opened #15 "Redirection to the right URL when not connected"
When a user is not connected and goes to "https://joseph-silvestre38.cozycloud.cc/#apps/todos/todolist/idtodo/......", he lands on the login page.
When he logs in, he goes to the Home whereas he should be redirected to "https://joseph-silvestre38.cozycloud.cc/#apps/todos/todolist/idtodo/......".

[2013-06-17 09:06] #15 closed, assigned to nobody

[2013-06-17 09:06] #10 closed, assigned to nobody

[2013-07-25 10:07] aenario opened #20 "Websocket on public routes"
Websockets are not proxyed on public routes.

[2013-10-07 10:13] aenario opened #28 "Support for node 0.10"
There is a problem with websocket support in node-http-proxy on node v0.10

node-http-proxy is being rewritten from scratch for node v0.10 here : https://github.com/nodejitsu/node-http-proxy/tree/caronte

Once that is stable, we need to port cozy-proxy to caronte

[2014-03-26 12:58] jsilvestre opened #41 "Improving tests on the device component"
Coverage report shows that the device component is really under-tested. Once things get more stable, we should add more tests.

[2014-03-26 12:59] jsilvestre opened #42 "First request very slow"
The very first HTTP request appears to be very slow (2-7s) which is annoying since it's the first impression a user has (also very annoying while testing ^^).

[2014-03-26 13:00] jsilvestre opened #43 "Storing the session"
The session should be serialized somewhere (file or database) instead of just be kept in memory. That way, the user could avoid relog himself/herself when the proxy restarts.

[2014-03-26 13:04] jsilvestre opened #44 "Making replication happens through DS"
Currently the replications (in this case, requests from a device) are proxied to CouchDB directly instead of going through the Data System.

It has been done this way since the double proxy was not working. We should try with the new http-proxy version.

We could have external clients using the data system directly, which is great, I think.

[2014-03-26 13:07] jsilvestre opened #45 "Changing device authentification/authorization workflow"
Currently the system works fine and is pretty smooth to use, but I think Cozy would benefit of using a standard protocol like oAuth to handle any external client to access the Data System.

Combined to https://github.com/mycozycloud/cozy-proxy/issues/44 that would make things very standardized and awesome.

This is clearly not urgent though.

[2014-03-26 15:19] jsilvestre opened #46 "Making Cozy an OpenID provider"
We've started some work towards that goal with Andrei and I think we should push it a little further.

Maybe we should also consider all the existing solutions: OpenID, BrowserID, ... and pick one.

[2014-03-31 09:57] jsilvestre opened #47 "Adding a custom routes file"
In order to allow self-hosted user to use applications that cannot be run with Cozy for the moment, I suggest we let them write in a file a list of slug=port that would be loaded by the proxy.

E.G.
In /usr/local/cozy/custom-routes.txt

[code]

And so on. That could be a decent workaround before the controller is capable of running apps of other languages.

Use case: I want to be able to monitor m

[2014-04-14 15:22] #20 closed, assigned to aenario

[2014-04-14 15:22] #28 closed, assigned to nobody

[2014-04-15 15:55] frankrousseau opened #49 "selectiveBodyParser.coffee should be renamed selective_body_parser.coffee"

[2014-04-30 09:52] frankrousseau opened #54 "Bug with lib proxy error handling"
Here is the stack trace I have when an error occurs with the lib/proxy error handling:

[code]

[2014-07-02 16:45] frankrousseau opened #66 "Proxy logs are broken"
They do not show the date anymore, instead they display the local IP.

[2014-07-21 10:27] aenario opened #69 "Improve caldav/cardav redirection"
# Original issue :

https://github.com/rfc2822/davdroid/issues/282
# Where :

https://github.com/cozy/cozy-proxy/blob/master/server/controllers/experimental.coffee#L30
# Todo:

1 - Replace the relative redirect by an absolute one, need to fetch cozyinstance.domain from the data-system
2 - Only redirect if the sync app is installed, other wise, send a 404, need to check various clients to see if a

[2014-07-22 10:01] frankrousseau opened #70 "Do not erase the log file after each startup"
Maybe we should include a smarter way to manage the logs.

[2014-07-30 08:32] aenario opened #74 "Replication"
Proxy sometime go to broken state (reply everything with 500) during replication. Need more debug / fail & restart.

[2014-07-30 13:03] frankrousseau opened #75 "Update forum url in error message"
Actually it points to the old forum. It could point on the support section of forum.cozy.io

[2014-08-14 15:33] frankrousseau opened #79 "Session is not saved"
Everytime I close my brower I lost my session.

[2014-08-14 17:34] #66 closed, assigned to nobody

[2014-08-14 17:44] #70 closed, assigned to nobody

[2014-08-19 08:14] #49 closed, assigned to nobody

[2014-08-19 08:14] #75 closed, assigned to nobody

[2014-08-19 08:16] #74 closed, assigned to nobody

[2014-08-19 18:37] #79 closed, assigned to nobody

[2014-08-22 06:24] jsilvestre opened #82 "Improving starting app handler"
That could be achieved that way:
- when the `app_manager` receives a `startApp` request, it doesn't wait for the response and instead sends a "please wait" template
- when the app is actually started, it sends a realtime event to the "please wait" template that triggers a refresh

I'm not sure this is an actual improvements in every case (i.e. not for slow connection) so I'd suggest we only do it

[2014-08-26 21:56] frankrousseau opened #83 "Express guide recommendation"
Just read that on the express documentation. That's something to investigate later:

Express behind proxies

Using Express behind a reverse proxy (such as Varnish or Nginx) is trivial; however, it does require configuration. By enabling the "trust proxy" setting via app.enable('trust proxy'), Express will have knowledge that it's sitting behind a proxy and that the X-Forwarded-* header fields may

[2014-10-09 13:56] #42 closed, assigned to nobody

[2014-10-13 12:01] #54 closed, assigned to nobody

[2014-10-20 10:45] #69 closed, assigned to jsilvestre

[2014-10-23 15:56] jsilvestre opened #86 "/status route says controller is down, cozy-monitor says it's up"
@poupotte when I go to /status it says the controller isn't running. `cozy-monitor status` says it's working. I suspect the Proxy to perform an incorrect check.

[2014-10-23 16:15] #86 closed, assigned to nobody

[2014-12-10 07:37] jsilvestre opened #91 "Always show the "forgot password" button"
As suggested on the forum by @goofy-bz (https://forum.cozy.io/t/suggestion-procedure-de-recuperation-du-mot-de-passe/187), our behaviour is not expected at all by users, resulting in understandable frustration for a relatively scary operation.

[2015-02-11 09:42] Gara64 opened #94 "Add a replication route"
For now it is not possible for an app to request its proxy for a replication with a remote target.
External clients like cozy-desktop or cozy-mobile can request a replication on a local database, e.g. PouchDB and establish the sync with cozy through the device interface. But a cozy app cannot access the CouchDB replication.
Adding a replication route would enable at least 2 things :
_ the possibil

[2015-02-11 10:06] frankrousseau commented on #94
One more use case: write client-only apps based on Pouch that syncs with the Couch.

+1 for that one.

[2015-02-11 10:28] aenario commented on #94
@frankrousseau this is already possible through the device API and wont be possible using this approach.

To put it simply, it is already possible to replicate to & from the cozy's couchdb if the replication is managed from the outside (see cozy-mobile & cozy-desktop)
What is not possible is to POST localhost:5984/_replication to ask the cozy's couchdb to initiate and manage a replication

So from

[2015-02-11 10:40] frankrousseau commented on #94
@aenario I don't think. There is an authentication process specific to devices that allows it. For an app, it would mean to register as a device.

I agree it should be part of the DS to manage properly authentication and filters.

[2015-02-11 11:49] Gara64 commented on #94
Yes that would definitely be better as an API in the DS. However in a first step, maybe it would be simplier and faster to do it in the proxy?

[2015-02-12 11:16] jsilvestre opened #95 ""Something went wrong" when opening a stopped application"
I often access my applications directly by typing "https://mycozy.tld/apps/{appName}/", and I noticed that I often get an error message, whereas if I reload the page instantly, I get the application.

I suspect the proxy to throw an error too fast, without waiting for the application to be started (I wrote this code, so I suspect it a lot :D)

[2015-02-13 09:26] jsilvestre opened #97 ""Something went wrong" when opening an application not installed"
The error message lets user thinks something went wrong whereas they are just trying to access an application that is not installed.

It should show the user a proper message, with a link to the marketplace.

[2015-02-13 09:32] aenario commented on #97
# Idea :

Home may be able to handle it better, using the "goto" intent, if the app doesnt exist we display the market / the installation screen for this app.

[2015-02-13 09:33] jsilvestre commented on #97
Yeah actually I thought the Home couldn't see the error, but it can since it does the request. +1 @aenario

[2015-03-03 13:54] nledez commented on #43
+1

[2015-03-05 12:21] jankeromnes opened #100 "Error page gives no details + has templating error"
Just booted up my cozy, logged in, then saw this:

![cozyproblem](https://cloud.githubusercontent.com/assets/599268/6504688/2f6d59c6-c33a-11e4-9b89-864671f13a4b.png)

- It would be great to have some "details" or "logs" option or any indication of what went wrong.
- The link(s) is/are broken.

[2015-03-05 12:28] jankeromnes commented on #100
Update: Refreshing cozy made the error screen disappear, but this bug is about problems with the error screen, not the problem that caused it to appear.

[2015-03-06 08:30] frankrousseau commented on #100
Thank you @jankeromnes for reporting. First, we'll clean the link error. For the logs/details, it will probably takes more time to figure out what we could do.

[2015-03-06 16:12] cylwin commented on #95
This issue seems to be solved, isn't it ?

[2015-03-11 14:36] m4dz opened #103 "Add stack telemetry tool for devs"
Tracking is bad (Evil?) but we sometimes need it to know what user want, love or hate, especially in UX terms. I suggest that the proxy can keep a list of installed apps that want to access to user stats, and logs those informations for them. User can consult the apps list, authorize or revoke authorization to collect stats data, and consult which kind of data is collected by app.

This way, user

[2015-03-11 14:37] bnjbvr commented on #103
YES YES YES

[2015-03-17 15:05] adeleglise opened #104 "Regional "Banque Populaire" account doesn't work"
Hi,
I try to add my bank account in pfm, it's a Banque Populaire du Nord account, and it can't be added with the error message "can't authenticate on server".

Also nothing in /usr/local/cozy/apps/pfm/log/production.log
![config-pfm](https://cloud.githubusercontent.com/assets/6353678/6690202/60940e94-ccbf-11e4-9888-9653535720c3.png)
![erreur-pfm](https://cloud.githubusercontent.com/assets/6353678/

[2015-03-17 15:06] #104 closed

[2015-04-09 18:02] frankrousseau opened #110 "Update leads often to an error message"
After upgrading the stack, I can often see this message:

     "{"error":"Cannot call method 't' of null"}"

[2015-04-16 06:42] frankrousseau opened #113 "Log directly after registration"
I noticed a bug: after a registration, the user is not automatically logged in. The user is redirected to the login page. Which is weird.

[2015-04-16 06:43] frankrousseau commented on #113
I was not in HTTPS, wrong alarm.

[2015-04-16 06:44] #113 closed

[2015-05-06 14:04] m4dz opened #119 "AdBlockers display none some icons"
Icons related to sharing or web-service (see https://github.com/FortAwesome/Font-Awesome/issues/6403) are blocked by adblockers (https://github.com/FortAwesome/Font-Awesome/issues/1799).

I uggest we use only a subset of font-awesome icons (for performance) and use a custom prefix (using http://icomoon.io/app) to bypass this issue.

[2015-05-06 14:28] tagliala commented on #119
The offending blocking list: https://easylist-downloads.adblockplus.org/fanboy-social.txt

It specifically addresses fontawesome, but be also aware of `icon-` prefix

[2015-05-09 16:22] frankrousseau opened #120 "There is no proper translation for reset password errors."
Everytime I get an error while resetting my password, I got a poor error explanation. When I try to fix it, polyglot cannot be used.

[2015-05-09 16:25] #91 closed

[2015-05-09 16:25] frankrousseau commented on #91
It's already the case.

[2015-05-09 16:28] frankrousseau commented on #119
I think the bu is on the adblocker side. Not on the Cozy side. Font awesome does nothing harmful. Let's close this issue. Thank you @tagliala for the list!

[2015-05-09 16:28] #119 closed

[2015-05-09 16:40] frankrousseau opened #121 "There is no proper way to debug the error page"
I didn't find any way to debug styles and change text of the error page.

[2015-05-11 05:54] clochix commented on #119
IMHO, users don't care who's fault it is, they just see that Cozy doesn't work. Ad Blockers are pretty popular among geeks users, so I think that we should try to fix this issue, if there's an easy way to do it.

[2015-05-11 07:19] m4dz commented on #119
Hi,

thanks @clochix, exactly my thoughts. @frankrousseau I'm so sorry, but I can't agree with you: you can't blame users for using an adblocker (which is common), but you can't reject the broken Ui to them so. As far as we are aware of this issue, I think we must handle a quick fix. Changing the icons names, maybe using the `cicn` prefix (stands for _cozy icon_), can be a simple workaround (e.g.

[2015-05-18 09:12] frankrousseau opened #123 "Two Factor Authentication"
Since Cozy stores a lot of important data. User would like to be able to set a two factor authentifcation to access to the Cozy.

[2015-06-03 11:49] jsilvestre opened #125 "When connecting, form is submit twice"
@clochix reported that when you enter your password, the form is submitted twice.

[2015-06-15 07:53] flzara commented on #123
Hello Frank

Any idea of a timeframe for this feature ?

Thanks

[2015-06-16 09:35] arthurlutz opened #127 "Internal Server Error suite à migration vers cozy 2.0"
Nouvelle page de login : cool! Et qui enregistre le mot de passe! Super.

Ensuite je tombe sur "Internal Server Error".

Dans les logs nginx :

[code]

[2015-06-16 15:25] frankrousseau commented on #127
On dirait que c'est le module home qui n'a pas démarré. Est-ce que tu peux essayer de le desinstaller / réinstaller ?

[2015-06-16 15:31] arthurlutz commented on #127
Je veux bien, faut taper quoi?

[2015-06-16 16:03] frankrousseau commented on #127
Il faut taper :

    cozy-monitor uninstall home
    cozy-monitor install home

[2015-06-16 16:07] arthurlutz commented on #127
[code]
pourtant je semble avoir du réseau
[code]

[2015-06-16 18:17] frankrousseau commented on #127
C'est peut être Github qui rencontre des soucis.

[2015-06-17 16:06] clochix commented on #127
Bonjour @arthurlutz,

Est-ce que tu rencontres toujours le problème ?

[2015-06-17 16:13] arthurlutz commented on #127
yep

[2015-06-17 16:37] frankrousseau commented on #127
On a fait de nouveaux fixes. Est-ce que tu peux mettre à jour home, data-system et proxy à nouveau ?

[2015-06-18 08:33] arthurlogilab commented on #127
Toujours le même problème :

[code]

Je pense que c'est un problème de resolution de nom dans cozy-monitor, pas de github. C'est peut-être un problème spécifique à faire tourner dans un Docker.

[2015-06-18 08:37] frankrousseau commented on #127
@Kloadut Do you have any idea about this issue about the update of Cozy inside a Docker?

[2015-06-19 10:36] Kloadut commented on #127
@arthurlogilab Peux-tu nous indiquer le contenu du fichier `/etc/resolv.conf` dans ton conteneur Docker ? Il semble effectivement qu'il y ait des problèmes pour contacter Github.

[2015-06-19 11:30] arthurlutz commented on #127
@Kloadut pas de problème de /etc/resolv.conf cf la ligne ping.

[2015-06-19 12:27] Kloadut commented on #127
@arthurlogilab ah pardon, le ping que tu nous a collé ne montre pas que ça ping, mais effectivement le DNS a l'air fonctionner.

tu nous confirmes que ça ping bien ?

[code]

[2015-06-22 06:53] arthurlutz commented on #127
oui je confirme.

[2015-06-24 20:00] ZeHiro opened #129 "Set max-age in config.coffee"
All orther static files of the cozy stack have max-age set to 86400. This should be the same for the proxy

[2015-07-08 11:17] aenario opened #141 "Experimental caldav & cardav routes fail when no instance."
We could use the `request.host` to guess if we dont have an instance.

Or better yet, display an error in a cozy-notification for the user to go configure its cozy settings.

[2015-07-08 12:58] clochix commented on #141
cf [this thread](https://forum.cozy.io/t/davdroid-erreur-500/898/5).

[2015-07-10 13:46] f6fvy opened #145 "Typo (french)"
In  cozy-proxy/client/app/locales/fr.coffee :

"Vous permet d'afficher **correctement** les heures dans les événements."

[2015-07-13 07:46] clochix opened #146 "Server crash: object is not a function"
On a user's instance, proxy keep crashing, with this error in logs:
[code]

[2015-07-13 08:02] clochix commented on #146
@frankrousseau this seems to be the problem responsible for [server crashes reported by @nIQnutn](https://forum.cozy.io/t/error-504-gateway-time-out/950)

[2015-07-13 08:38] frankrousseau commented on #146
@clochix DId you commit the build after your fix?

[2015-07-13 15:17] clochix commented on #145
Merci ☺
Je te laisse aller sur https://github.com/cozy/cozy-proxy/blob/development/client/app/locales/fr.coffee et cliquer sur le crayon en haut à droite pour faire la correction toi-même et ainsi ajouter ton nom au Panthéon des développeurs de l'application ;-)

[2015-07-17 12:32] nicodel opened #150 "Proxy fails when opening Photos"
Cozy instance hosted on Cozy infrastructure (nicolas-6)
Data System: 2.0.6
Proxy: 2.0.2
Home: 2.0.4
Controller: 2.0.27

When I open Photos (application is stopped), it takes some time and open page with the following error:

![photos_error](https://cloud.githubusercontent.com/assets/1799460/8746913/51d5e9ac-2c8e-11e5-9f6b-7935e95f2a70.png)
The url is https://nicolas-6.cozycloud.cc/#apps/photos/

P

[2015-07-19 10:01] arthurlutz commented on #127
J'ai réessayé aujourd'hui et ca a fini par marcher. Merci pour votre aide.

[2015-07-19 10:01] #127 closed

[2015-07-19 12:53] frankrousseau commented on #127
Bonne nouvelle !

[2015-07-20 08:28] aenario commented on #150
Whoah, thanks @nicodel for the extensive report !

@poupotte , this appears to be linked to the authorization problem you are investigating. May be these logs can help you.

[2015-07-21 13:01] clochix opened #152 "Display a warning when DS is Down"
When the datasystem or CouchDB are not started, user is redirected to the registration form. This is pretty disturbing, as user may think they have lost their data. Displaying a message encouraging the user ton contact support or verify the status of the server would be a better experience.

[2015-07-29 13:23] cylwin commented on #145
Thx @f6fvy
fixed in https://github.com/cozy/cozy-proxy/commit/2543d38f965edb590dc9043097a757c1f898da59

[2015-07-31 08:50] PCYoshi opened #154 "Login page do not redirect to home (when already logged in)"

[2015-07-31 13:00] clochix commented on #154
@PCYoshi means that when user is already connected and navigate to the login page (for example, from it's browser bookmarks), we should redirect her to the home page.

[2015-08-05 07:31] jsilvestre opened #155 "Detect timezone during register + real dropdown + minor auto-complete bug"
During registration, when I want to select a timezone:

* I would like it to be pre-filled
* There should be an actual drop-drown to show the timezones, right now, it's hard to guess if you don't know what a timezone looks like (because you have to use the auto-complete)
* If I write "Europe/Paris", the auto-complete suggests twice "Europe/Paris".

[2015-08-05 07:32] nicofrand commented on #155
As a lazy guy, I would love too see that !

[2015-08-05 16:50] frankrousseau opened #156 "The Google Play icon is not explicit enough"
Some people think it's an ad for Google. Maybe we should add more text or an icon to make things more explicit.

reported by @Benibur

[2015-08-05 16:51] frankrousseau opened #157 "At register, sometime the timezone selection is blocked"
During the last demonstration of Cozy, the timezone selector freezed. This bug is very problematic and requires quick investigation.

reported by @Benibur.

[2015-08-05 16:54] frankrousseau opened #158 "Rewrite the English message for password resetting"
I think there are several grammatical errors in the email sent after a password reset request.

[2015-08-05 17:07] frankrousseau opened #159 "At register, having a problem during the Google import breaks the flow"
When I say I want to import data from my Google account, if I am not logged with the right Google account, I can't change account without breaking the flow.

Reported by @Benibur

[2015-08-12 09:45] poupotte commented on #95
Seems ok for me. @jsilvestre is it fixed for you ?

[2015-08-14 14:13] nono commented on #44
@jsilvestre is it still the case?

[2015-08-17 07:11] jsilvestre commented on #44
@poupotte has worked on that, but I don't know to which extent it's done. Can you please expand on that a bit for @nono? Thanks!

[2015-08-17 13:18] poupotte commented on #44
Currently, proxy and data-system have an API to replicate throught DS. This API has a permission system for device registered on Cozy.
However, for the moment, mobile application doesn't use this API. Temporary, device can replicate directly with couch or use the new API. When mobile application will be up to date, we'll remove the old route.

[2015-08-17 13:28] nono commented on #44
Thanks!

[2015-08-17 17:43] #44 closed

[2015-08-26 11:11] frankrousseau opened #167 "Select password after a wrong password was submitted"
Select the whole content of the password field after a wrong password was submitted.

[2015-08-26 11:12] frankrousseau commented on #167
Fixed.

[2015-08-26 11:12] #167 closed

[2015-08-26 11:13] frankrousseau opened #168 "Remove email import from import choice"
The configuration of the Email application is broken. Noone is available to fix it. So let's remove it temporarly.

[2015-08-26 11:13] frankrousseau commented on #168
Done.

[2015-08-26 11:13] #168 closed

[2015-08-27 12:29] jsilvestre opened #169 "Wrong redirection after login when a specific redirection is set in URL"
(After a platform update)

* When I am on the login page, and that a redirection to a specific page is set: https://mycozy/login?next=/?step=welcome#config-applications
* Then I login into my Cozy
* Then the browser is redirected to "https://mycozy/%23config-applications?next=/?step=welcome#config-applications"

Expected result:
* The browser redirects to "https://mycozy/#config-applications"

Add

[2015-08-31 12:29] nicofrand commented on #169
This happens when restarting cozy from the status page for example.

[2015-09-02 08:44] nicofrand opened #170 "Websocket handshake error"
I regularly meet this error in my browser console **after refreshing the page**:

`WebSocket connection to 'wss://***/public/files/socket.io/?EIO=3&transport=websocket&sid=DGvqewDGc_GvZX-3AAAB' failed: Error during WebSocket handshake: Unexpected response code: 400`

This does not seem to impact the applications though.

Here are my *proxy* logs after refreshing the page for the *photos* app:

[co

[2015-09-03 11:54] clochix commented on #170
Thanks for reporting @nicofrand
This seems to be a known problem with socket.io (cf https://github.com/socketio/socket.io/issues/1942 for example). So it's probably not related to the proxy, but to the version of socket.io we use in every app.
Anyway, we need to investigate.

[2015-09-04 08:43] nicofrand commented on #170
I am not sure it is socket.io related… Maybe that comes from Apache ?
Shouldn't something like http://httpd.apache.org/docs/2.4/mod/mod_proxy_wstunnel.html be configured ?

Is there anyone using nginx that can reproduce the error ? Does cozy configure nginx like this https://github.com/socketio/socket.io/issues/1942#issuecomment-82352072 ?

[2015-09-10 15:10] nicofrand commented on #46
I'd love my Cozy to me an OpenID provider, that's a really great idea.

[2015-09-14 15:17] clochix commented on #150
I think there may be two problems here :
  -the first reported by @nicodel : seems like Photo took too long to answer and the proxy canceled the request;
 - after the server restart, the photo application crashed, probably because we don't handle the error case here https://github.com/cozy/cozy-photos/blob/master/server/controllers/album.coffee#L24

@nicodel do you still have problems opening the

[2015-09-14 19:26] nicodel commented on #150
@clochix , No I could not reproduce. I try several times, and even if Photos is slow to start/open, it is displayed correctly.
I think this bug could be closed.
I'll let you decide/

[2015-09-15 08:35] clochix commented on #150
Thanks @nicodel for your feedback. I opened cozy/cozy-photos#149 for the crash in photo server.
I close this one, @aenario, @poupotte, feel free to re-open it needed.

[2015-09-15 08:35] #150 closed

[2015-09-15 09:19] m4dz opened #174 "Proxy submit register request multiple times"
When registering, the registration endpoint is called multiple times, resulting of 409 errors.

**Reproduce**
1. register a new user
2. pass the leave google form (registration is sent again > 409)
3. pass email configuration form (registration is sent again > 409)

**Expected result**
The form must not be sent when passing form in next steps.

[2015-09-26 17:25] jeekajoo opened #180 "Error: Cannot find module 'bcrypt'"
Hi,
Since last update, it looks like proxy is broken due a missing dependency.
I tried to uninstall / reinstall it without success.
[code]

/usr/local/var/log/cozy/proxy.log-backup:
[code]
[code]
[code]
Thanks
J.

[2015-09-26 18:18] clochix commented on #180
Hi @jeekajoo,

could you go to `/usr/local/cozy/apps/proxy`, run `npm install` and give us the output. Seems like there's a problem installing `bcrypt` module.
Also, could you check your Node version ? Some Debian users recently got an update to Node 0.4, and Cozy is not compatible for now with this version.

[2015-09-26 18:33] jeekajoo commented on #180
Here it is:
[code]

[code]
Thanks

[2015-09-26 19:09] clochix commented on #180
Maybe related to https://github.com/ncb000gt/node.bcrypt.js/issues/326 and https://github.com/nodejs/nan/issues/414
Could you try to update node-gyp ?

[2015-09-27 08:24] clochix commented on #180
Maybe related to https://github.com/ncb000gt/node.bcrypt.js/issues/326 and https://github.com/nodejs/nan/issues/414
Could you try to update node-gyp ?

(sorry, I answered yesterday but forgot to publish by comment :'( )

[2015-09-27 18:19] jeekajoo commented on #180
`node-gyp` was installed from debian (jessie) packages as it is a dependency https://github.com/cozy/cozy-debian/blob/master/debian/control#L17 of your official debian package.

[2015-09-27 19:34] clochix commented on #180
Yes I know node-gyp comes with npm. Did you had a look at the tickets I mentioned in my previous comment ? They seems related. Unfortunately, I'm unable to reproduce your problem for now :-S

[2015-09-27 19:54] jeekajoo commented on #180
as suggested in https://github.com/nodejs/nan/issues/414#issuecomment-131756213, I did `npm -g install npm` to upgrade the debian's npm to npm's npm and that presumably included node-gyp and that fixed it.

now using `node-gyp@3.0.3`

[code]

[2015-09-27 20:09] clochix commented on #180
Thanks a lot for the feedback.
So the problem is on Debian's side. I think we can close this ticket.

@nledez would you mind having a look a this ? Seems like the node-gyp installed in Debian is too old to compile some dependencies of the proxy :-S.

[2015-09-27 20:09] #180 closed

[2015-09-28 15:08] jeekajoo commented on #180
I guess every user that installed cozy with official packages on debian jessie and updated cozy (like me) are now stuck because of this proxy issue ;) you can't even have cozy-home working anymore. So this is pretty serious.

[2015-09-29 07:30] clochix commented on #180
Yes, we downgraded the required version of bcrypt, so it can install with the npm version in Jessie. See https://github.com/cozy/cozy-proxy/pull/181

[2015-09-30 14:00] jeekajoo commented on #180
thanks @clochix @nono, I reverted npm and it is now ok.

[2015-09-30 15:01] clochix opened #182 "Display error when sending of reset password message fails"
When MTA is down, we should notify the user that the reset password message has not been sent.

[2015-09-30 15:04] clochix commented on #158
Thanks @lemelon

[2015-09-30 15:04] #158 closed

[2015-10-02 12:57] clochix opened #184 "Handle connexion problem with application"
Some time, the application is running but the connexion with it is lost, for an unknown reason (`ECONNRESET`). It may be reseted only for a single request, or for every following request. So the user get a 504 error, while the application is running.

Maybe could we add to the error page an action to try to restart the application ?

[2015-10-05 08:36] clochix commented on #184
In fact, this happens when connections between proxy and the application are not closed cleanly. They stay in `CLOSE_WAIT` state. By default, Node only allows [five concurrent connections](https://nodejs.org/docs/latest-v0.10.x/api/http.html#http_agent_maxsockets) to the same origin, so when we reach this limit, the proxy become unable to communicate with the application, and the only solution see

[2015-10-05 15:06] poupotte commented on #100
We have now details of error when we click on application icon and logs in status page. @jankeromnes , @frankrousseau, can we close this issue ?

[2015-10-05 15:09] #145 closed

[2015-10-05 15:12] #146 closed

[2015-10-05 15:14] poupotte commented on #169
This issue should be fixed. @jsilvestre is it still revelant for you ?

[2015-10-06 07:26] poupotte commented on #182
@clochix , this issue seems fixed for me, I receive :
`Error sending password recovery message, please check your MTA is running or contact server admin`

[2015-10-06 08:32] clochix commented on #182
Thank you, I close this one, as I now use the commit log to create the release note.

[2015-10-06 08:32] #182 closed

[2015-10-07 09:03] #100 closed

[2015-10-07 09:03] frankrousseau commented on #100
Yep, thank you @poupotte

[2015-10-07 16:12] poupotte commented on #159
Actually, there is a button to the right top to change gmail account.

However, we could add a button to reopen window if user closes it not on purpose.

[2015-10-09 13:41] clochix commented on #125
Seems to have been fixed, let's close this !

[2015-10-09 13:41] #125 closed

[2015-10-10 17:37] thierrymarianne commented on #170
Activating `mod_proxy_wstunnel` with apache before adding a rewrite rule prevented this error from occurring again for me. Proxying may differ depending on the transport protocol.

With Debian Jessie 8.2,

 * Enable `proxy_wstunnel` module

[code]

 * Add the following directives to the configuration of virtual host

[code]

 * Restart apache 2.4.10 if its configuration is valid

[code]

See also

[2015-10-14 13:50] nicofrand commented on #170
@thierrymarianne you posted a solution here, did you remove it ? Why ?

The solution was to enable a2enmod proxy_wstunnel module:
[code]

And then add this into the apache VirtualHost configuration before the `ProxyPass` line:

[code]

It seems to work for me. However there are 2 things:

* Shouldn't it use *wss* instead of *ws* ?
* This solves the issue for cozy but some apps (like [term](https:/

[2015-10-14 14:40] thierrymarianne commented on #170
@nicofrand It didn't seem to solve the issue entirely. I keep seeing the transport parameter switching back to polling.

[2015-10-19 14:20] m4dz opened #194 "Improve fonts loading"
In some apps, text may flicker due to the loading of our webfonts. This is mainly due to network latencies which causes a delay and a repaint of the viewport when fonts are finally available.There's 2 solutions fir this issue:

1. Stop using a non-websafe font for the main font and let the UA choices
2. Lazy-load the fonts using Fonts Events as it's [the currenlty recommended way](https://www.fila

[2015-10-22 10:10] clochix opened #195 "Wrong redirect after stack update"
User of Chrome browser are redirected to "%23config-application" which doesn't exist. See for example [this thread](https://forum.cozy.io/t/cannot-get-23config-applications/1447/4).

[2015-10-23 11:02] frankrousseau opened #197 "Cannot connect from iPad"
Some users complain that the auth page is not accessible from iPad (IPAD 1 with iOS 5.1.1). The browser was probably Safari. The background is displayed but not the login screen.

[2015-10-30 11:41] clochix commented on #174
@m4dz this should have been fixed. Could you give the patch a try and close this ticket, please?
Thanks for reporting. Thanks @poupotte for fixing ☺

[2015-10-30 13:17] clochix commented on #95
Hi @jsilvestre, sorry to awake you, could we close this one please? Our statistics would love it!

[2015-10-30 13:38] clochix commented on #169
Ping @jsilvestre

[2015-10-30 17:51] soichih commented on #180
I was having the same issue.. on RHEL7. Did "npm -g install npm" and it fixed it.

[2015-10-30 19:45] clochix commented on #180
Hi @soichih,
Are you running Cozy on RHEL 7. We would be interested in hearing feedbacks on how you installed it and how it works in this distribution!

[2015-10-31 19:47] clochix opened #198 "Allow to select language on register page"
(feedback from a user)

When an user connects for the first time, we use the headers send by its browser to select a locale. Unfortunately, sometime user would like another locale, so I think we should add to the register page a select to allow user to see registering process in another language.

[2015-10-31 19:50] clochix opened #199 "Add warning when JS or cookies are disabled"
(feedback from a user)

Some of our users take really care of their online privacy, and block cookies and JS by default. We should try to detect this case and display a warning message.

[2015-11-02 10:06] m4dz commented on #174
Ok for me, thanks again @poupotte :smiley:!

[2015-11-02 10:06] #174 closed

[2015-11-04 07:56] poupotte commented on #152
This issue was fixed.
Now, proxy display a warning error :
![screenshot from 2015-11-04 08 56 08](https://cloud.githubusercontent.com/assets/2659119/10932535/e856fbf2-82d1-11e5-97cb-08e9961af505.png)

[2015-11-04 15:39] clochix commented on #152
Nice, thanks @poupotte

[2015-11-04 15:39] #152 closed

[2015-11-05 20:51] clochix opened #201 "Try to serve gziped version of resources"
We should check if a `.gz` version of some resources exists (like JS files) and serve it with the right MIME type.
Then we could gzip the resources in our build process.
It may help reduce applications load time and the bandwidth.

[2015-11-06 12:11] maxlath opened #202 "ReferenceError: next is not defined"
it seem to be [fixed here](https://github.com/cozy/cozy-proxy/blob/65b5f722fc63de9c2aabe1def675546357b679ea/build/client/public/scripts/app.js) but once I `apt-get install cozy`, I got a version with `ReferenceError: next is not defined   app.js:1085:7`
with indeed an error in the function variable definition:
[code]
so I guess it is just a matter of updating the apt-get package or a build script

[2015-11-06 12:30] maxlath opened #203 "minify builds"
the interface when registering feels a bit slow, maybe because lots of things are happening in the background at the same time, but some optimization in the builds could come for (almost) free and might help to make it feel more snappy:
`uglifyjs --compress --mangle -- vendor.js > vendor.min.js`

[code]

the only downside being that debugging gets sensibly more difficult with those 10000+ characte

[2015-11-06 14:24] clochix commented on #203
Hi @maxlath,
Thanks the this great idea, see also #201.

@aenario, @m4dz any objection against minifying le client js resources ?

[2015-11-06 14:40] m4dz commented on #203
I totally agree. To be honest, it seems to be a mistake in our Brunch production env config, because I was certain that we already minify it. I'll check that right now. Thanks!

[2015-11-06 15:04] clochix commented on #202
Thanks for reporting @maxlath, this is a regression I introduced some days ago ☹ The fix will be published soon.

[2015-11-06 19:40] frankrousseau commented on #203
I think we met problems with minifying and version control. I don't remember why we desactivated this feature.

[2015-11-09 08:22] aenario commented on #203
The problem was to make debugging impossible in production because there was a bug in brunch vs uglify on pipelining sourcemaps (coffee -> js -> µjs).

I am not sure how well it will interact with @clochix works on piping errors from client to servers also.

[2015-11-09 11:23] clochix commented on #203
Yes, minifying will have an impact on reading client side errors logs, but I think it is worth doing it, because it will harden a bit our work, but make our users life smoother.

[2015-11-12 13:25] clochix opened #206 "Reduce bandwidth when checking if platform has been updated"
When performing a platform update, we send lots of queries to `/api/applications/stack`, to know when the platform is up.
The proxy answer with the full 502 page, weighting 7.5ko. We could probably use content negotiation to explicitly request JSON, and the proxy should answer with a light JSON formatted 502 error.

[2015-11-12 16:25] nicofrand commented on #170
I solved it for the home and the apps that use socket.io with this configuration:

[code]

[2015-11-18 10:43] nicofrand commented on #170
Hi @thierrymarianne,  would you mind testing the solution above please, if you have time ? If that works for you, maybe I could create a ticket on cozy-debian (or try a PR) and update the documentation…

[2015-11-18 12:21] thierrymarianne commented on #170
@nicofrand Sure thing, I'll you know ASAP :)

[2015-11-18 19:52] thierrymarianne commented on #170
@nicofrand I confirm the configuration above works for me after replacing `127.0.0.1` with `localhost`. Thank you1

[2015-11-18 20:10] nicofrand commented on #170
Cool.
I don't get why it would not work for 127.0.0.1 though..

Le mer. 18 nov. 2015 20:52, Thierry Marianne <notifications@github.com> a
écrit :

[2015-11-18 20:38] thierrymarianne commented on #170
@nicofrand

Keeping any of the following sets of rules seems to prevent the `Bad request` responses from ever occurring for the "main" websocket connection request:
`wss://domain/socket.io/?EIO=3&transport=websocket&sid=[...]`

[code]
or

[code]

However, it fails with `WebSocket opening handshake timed out` error for apps like emails:
`wss://domain/apps/emails/socket.io/?EIO=3&transport=websocket

[2015-11-19 07:31] nicofrand commented on #170
I used %{THE_REQUEST} because some apps are not using the query string to specify the websocket transport. For example with *Term* :

I do not see why that would not work for you :(.

[2015-11-19 08:41] thierrymarianne commented on #170
@nicofrand I might have been too caffeinated yesterday (or the exact opposite might be true) as your original set of rules perfectly works as is for me today though I could not get *Term* installed to double-check with it. Sorry for the confusion.

[2015-11-19 08:49] thierrymarianne commented on #170
@nicofrand The devil was in the details but I nailed it eventually:

[code]

[2015-11-19 08:57] nicofrand commented on #170
Oops, that 's what I have too on my server, I guess I forgot it here, I'll edit my post…
That would be cool if someone else could test with Term though.

[2015-11-19 09:22] thierrymarianne commented on #170
@nicofrand I figured `Term` requires manual installation of `coffee-script` (speaking of being caffeinated... it was not enough in this regard). I can now confirm the *Term* app works as well with this set of rewriting rules :) Thank you!

[2015-11-19 09:37] nicofrand commented on #170
Cool, I'll see for the documentation and the cozy-debian package then.

[2015-11-19 12:26] #170 closed

[2015-11-20 14:51] clochix commented on #170
I would like to thank all of you for the awesome job you did in fixing and documenting this !!! Cozy community rox !

[2015-11-20 15:38] thierrymarianne commented on #170
@clochix Thank you for having provided with great foundations for applications self-hosting :)

[2015-12-04 10:19] clochix opened #214 "Add more informations to the reset password message"
As [requested by a user](https://forum.cozy.io/t/intrusion-tentatives-acces/1684).

We may want to add the the reset password message some informations on the requester: IP address, user agent…

I don't known if this is feasible, depends on the data the reverse proxy send to cozy-proxy.

[2015-12-04 11:05] clochix commented on #202
Hi @maxlath,

This should have been fixed for some time now.
Don't hesitate to re-open this issue if you still face this problem.

[2015-12-04 11:05] #202 closed

[2015-12-07 20:26] khertan opened #215 "Missing url encoding of "?" when redirected to /login"
Missing url encoding of "?" when redirected to /login
This prevent registering a remotestorage from litewrite.net for example (you need to logout before).

[2015-12-09 08:21] clochix commented on #215
Thanks for reporting and fixing @khertan,

Your fix will be in the next release of the proxy, probably next week. Have you been able to test it on your server, or do you want some help to install it?

[2015-12-09 16:59] khertan commented on #215
Thanks, it's already installed at home :) I tested it before committing ;)

Le mer. 9 déc. 2015 09:21, Clochix <notifications@github.com> a écrit :

[2015-12-10 09:33] clochix opened #217 "Add an option to listen on https"
On small configurations (like Raspberry Pi), it would be nice to have an option to handle https inside the Cozy proxy, so user can get rid of the reverse proxy and lower memory usage.

[2015-12-17 09:33] clochix opened #223 "Server crash: next is not defined"
[code]

[2015-12-29 20:14] jupa1986 commented on #46
its a great idea

[2016-01-05 09:50] clochix opened #227 "Server error: TypeError: object is not a function"
[code]

[2016-01-05 15:42] clochix opened #228 "Remove status checking of the indexer"
Cozy-indexer is now deprecated and will be soon removed, so we should stop checking its status.

[2016-01-07 08:22] clochix opened #230 "Server error: TypeError: Cannot read property 'username' of undefined"
Trace:
[code]

[2016-01-07 08:23] clochix commented on #230
Already fixed in 18e2099 :-S

[2016-01-14 08:05] poupotte commented on #95
This issue seems fixed sine some time. I close this issue. @jsilvestre , if you have still the problem, don't hesistate to reopen this issue.

[2016-01-14 08:05] #95 closed

[2016-01-14 08:15] poupotte commented on #169
Specific redirection after login works for me. I close this issue, @jsilvestre , if you have still the problem, don't hesistate to reopen this issue.

[2016-01-14 08:15] #169 closed

[2016-01-14 08:29] poupotte commented on #195
It works well. Thanks @clochix :)

[2016-01-14 08:29] #195 closed

[2016-01-14 08:44] poupotte commented on #215
Thanks @khertan

[2016-01-14 08:44] #215 closed

[2016-01-14 08:52] poupotte commented on #230
Thanks @clochix

[2016-01-14 08:52] #230 closed

[2016-01-14 14:21] poupotte commented on #223
Thanks @clochix :+1:

[2016-01-14 14:21] #223 closed

[2016-01-14 14:32] poupotte commented on #228
Thanks @clochix

[2016-01-14 14:32] #228 closed

[2016-01-22 13:42] poupotte commented on #159
We can now reopen window to import gmail account. I propose to close this issue. @frankrousseau, don't hesistate to reopen it if isn't unclear for you.

[2016-01-22 13:42] #159 closed

[2016-01-25 13:40] nono commented on #83
@frankrousseau I think we can close this issue. We don't have nginx configured to send these `X-Forwarded-For-*` headers. And we don't have any usage for them (for the protocol, it's https only, and for the user IP, execpt in nginx logs, I don't see why we want it).

[2016-01-26 16:01] clochix commented on #83
This may be useful for #214 (add informations to the reset password email).
Also, some applications, like Ghost, may want to access the end user IP to gather some statistics.

[2016-01-26 18:58] frankrousseau commented on #83
Let's close it. The Ghost use case is not interesting yet and the reset password use case has already a dedicated ticket.

[2016-01-26 18:58] #83 closed

[2016-01-29 17:27] poupotte commented on #198
After discuss, we prefer keep browser locale.

Indeed, it seems logical to use browser locale and user can change it after register. Add to the register page a select for language could overload register page.

[2016-01-29 17:27] #198 closed

[2016-01-29 17:28] poupotte commented on #157
This issue should be fixed, now. I propose to close it and reopen it if someone has still this issue.

[2016-01-29 17:28] #157 closed

[2016-01-29 17:32] poupotte commented on #197
We can't be compatible with all OS and iOS 5.1.1 begins to be old (available since May 2012). I propose to close this issue.

[2016-01-29 17:32] #197 closed

[2016-02-03 11:01] clochix opened #236 "[registration] Add a link to explain wich data may be shared"
When user logs for the first time, we ask if she accept to share some statistics with us. We should add a link to a page in the documentation explaining witch data would be shared, so users know exactly what they accept to share.
See cozy/cozy-docs#256

[2016-02-03 11:02] clochix commented on #236
By the way, is there a way to update its choice after registration?

[2016-02-03 11:03] clochix commented on #236
By the way, is there a way to display informations shared with Cozy ? This would be nice to improve user trust.

[2016-02-04 17:42] nono commented on #184
See #235 and #238

[2016-02-05 08:02] nono commented on #227
It was probably a build error where locales were missing. I think we can close this issue.

[2016-02-08 10:47] nono commented on #110
@frankrousseau do you still have this bug?

[2016-02-08 10:59] frankrousseau commented on #110
No, we can close it.

[2016-02-08 10:59] #110 closed

[2016-02-08 11:29] #154 closed

[2016-02-08 11:29] #199 closed

[2016-02-08 15:33] clochix opened #240 "Error message on login screen"
Reported by @nicofrand

“login undefined” is displayed on login screen.
![error screenshot](https://framapic.org/8BV0vP8v9D5z/wSFaWOmVKxpI.png)

This is only a display problem, but gives a bad image of Cozy.

[2016-02-08 15:56] poupotte commented on #154
This issue is fixed in new version : 2.2.0

[2016-02-08 15:57] poupotte commented on #199
This issue is fixed in new version : 2.2.0

[2016-02-08 16:47] frankrousseau commented on #240
@clochix Could you tell us in which case it occurs?

[2016-02-08 16:48] nicofrand commented on #240
Just after the platform update.

[2016-02-09 07:40] #217 closed

[2016-02-09 16:45] clochix commented on #217
Could we have a summary of what has been done? If users can now get rid of the frontend reverse proxy, it could be worth mentioning it in the documentation.

[2016-02-09 16:49] clochix commented on #240
Every user trying to connect with the latest version of the proxy as this erroneous error message. This doesn't prevent from logging, but may make the users think something is broken.

I think @nono already identified the source?

[2016-02-09 16:50] nono commented on #217
@clochix I've added a section in the README about: https://github.com/cozy/cozy-proxy#listen-on-https. If you think that it needs more information, tell me what should be documented.

[2016-02-09 17:09] nono commented on #240
Yes, I've made a PR: https://github.com/cozy/cozy-proxy/pull/241

[2016-02-09 17:11] nono commented on #240
We have a check on `alert` and it's always true on the new version because of `window.alert`. I don't why it appeared in this version, or how it works on previous versions. I've just reinforced the check.

[2016-02-10 10:29] clochix commented on #217
I think we should better explain how to start the Proxy with this environment variables. Could we just add them to /etc/cozy/controller.json ? It would be easier, but I'm not sure it would work. @poupotte, any idea of an easy way to start the proxy in TLS mode ?

[2016-02-10 10:42] nono commented on #217
@clochix yes, you can set env for an app from this file. It's explained here: https://docs.cozy.io/en/hack/cookbooks/controller.html#configuration. Do you want to make a PR to complete the README of proxy, or should I do that?

[2016-02-10 10:58] clochix commented on #217
I'll do.

[2016-02-10 11:05] #227 closed

[2016-02-10 11:06] frankrousseau commented on #227
@clochix Repoen it if someone complains again.

[2016-02-10 11:06] frankrousseau commented on #194
@m4dz Can you recommend a websafe font?

[2016-02-10 11:08] frankrousseau commented on #184
@clochix reopen this issue if the problem persists.

[2016-02-10 11:08] #184 closed

[2016-02-10 11:19] frankrousseau commented on #120
It's no more relevant.

[2016-02-10 11:19] #120 closed

[2016-02-10 11:20] frankrousseau commented on #240
@aenario Could you publish this fix?

[2016-02-10 16:37] #240 closed

[2016-02-10 17:21] m4dz commented on #194
Our main issue is due to source sans pro used for labor. Maybe we can make de test of clever loading on the proxy and replicate the method in other apps. Or just leav it and set labor font to `sans-serif` to let user OS choose the best sans-serif font (which may result to a better look'n feel on OSes like iOS or OS X).

@kelukelu. any thoughts?

[2016-02-23 10:21] poupotte commented on #206
This issue is now fixed.

[2016-02-23 10:21] #206 closed

[2016-03-07 17:35] #141 closed

[2016-03-08 08:44] poupotte commented on #141
This issue is now fixed with new proxy version (2.5.0)

[2016-03-08 09:51] clochix opened #252 "ReferenceError: next is not defined"
Error in `resetRoutes` method with Proxy 2.5.0

[code]

[2016-03-13 20:04] clochix opened #253 "[security] prevent brute-force attack by waiting after each failed connection attempt"
Whatever the method (login screen, API request…), if wrong credentials are submitted, we should wait a little before answering, and before allowing another try.

[2016-03-13 21:01] frankrousseau commented on #253
Bcrypt encryption makes password checking slow. So it already prevents a little bit from brute force attack.

[2016-04-25 15:37] clochix opened #268 "Ask to type the new password twice"
Suggested by @genma: we should ask the user to type the new password twice on the reset password screen.

[2016-05-03 09:27] clochix opened #269 "request-json deprecated newClient() is deprecated"
Seen in user's logs:
[code]
(proxy version 2.5.6)

[2016-05-21 15:35] babolivier opened #280 "[2FA] Can't authenticate through HOTP with counter 0 after counter reset"
I'm handling this one, it's more a reminder.

When resetting the HOTP counter, it sets the counter to 0 in database. As the condition on the counter for accepting an OTP in HOTP is `>`, the password with counter 0 can't be accepted, and in case of a change of device the user has to generate two passwords to enter its Cozy instead of one.

[2016-05-21 15:37] babolivier commented on #280
Update: This doesn't only happen after resetting the counter, but also after enabling HOTP. I'll be on it later this weekend.

[2016-06-09 05:08] clochix opened #285 "Add a warning message when user try to connect through http"
A lot of new self-hosted users are not aware that Cozy is only available through https, so they try to connect with http and keep being redirected to the login page.

We should find a way to display a warning message, explaining they have to use https.

[2016-06-13 14:55] clochix opened #286 "Use a button instead of a link for password reset"
For now, we use a link to reset the instance password. This is not a good idea, as robots indexing the login page try to follow the link and send a reset password message. We should use a button instead.

[2016-06-13 15:56] clochix commented on #286
Once done, thanks to notify [this user](https://forum.cozy.io/t/not-wanted-password-email/2656).

[2016-07-07 13:53] Toobian opened #291 "[2FA] First OTP login failed"
Hi,

When i try to login with otp, the first submission failed. But when i retry (just click on submit button, no change in inputs), it's working.

Below, proxy's logs about login process :
[code]

[2016-07-07 14:42] babolivier commented on #291
Hi @Toobian,
This is à known issue, as reportée in #280. I'll try to find some time to fix this ASAP.

[2016-07-11 08:51] clochix opened #292 "Error when user has no recovery code"
[code]

[2016-07-29 14:11] ZeHiro opened #295 "Double click on "Login" button raises "Wrong credentials""
When doubleclicking fast enough on the login button (with right credentials), the POST request is sent twice. And the second answer from the server is "Bad credentials". This should be prevented by disabling the button on click.

[2016-08-12 15:41] #291 closed

[2016-08-12 15:42] #292 closed

[2016-08-30 15:03] m4dz opened #297 "Offer custom 404.html / 50x.html pages"
Error pages, like 404 or 50x pages, should be served directly by the frontend web server (nginx, caddy, apache), so Cozy apps have just to send 404/50x status code that can be catched.

Proxy is always installed in Cozy plateforms, I so suggest that it embed in its assets those error pages (with inlined styles / scripts if needed). We must also provide configuration exemples for aforemetioned main

[2016-09-07 15:39] clochix opened #298 "Locale detection on registration doesn't work"
See [this thread](https://forum.cozy.io/t/retour-de-tout-1er-test/3318/4)

On registration, [we use the request header](https://github.com/cozy/cozy-proxy/blob/1cddd2558e75ceafcbba6f238db8b9aa7879865d/server/controllers/authentication.coffee#L41) `accept-language` to detect the user language, but don't parse it (for example, it may contain `Accept-Language: en-US,en;q=0.8,de;q=0.6,fr;q=0.4`), so t

[2016-09-08 07:10] babolivier commented on #298
Additionally, this header isn't entirely accurate. The example you provide have been witnessed on a browser just after I switched its langage from English to French (which can often come right after a fresh install), but is still asking English as the preferred language.

[2016-09-09 07:36] babolivier commented on #268
As suggested on the [forum](https://forum.cozy.io/t/creation-de-mot-de-passe/3386), we should also ask this on the onboarding.

[2016-09-22 14:18] jsilvestre opened #299 "Test issue import to trello"

[2016-09-22 14:27] jsilvestre commented on #299
It works!

[2016-09-22 14:27] #299 closed

[2016-10-07 13:40] clochix commented on #298
Another user is finding this issue annoying “j’ai un peu galéré pour le passer en français, c’est étonnant que la langue ne soit pas détectée automatiquement où qu’on nous propose de la changer directement par message, sans avoir à chercher où ça se trouve”

[2016-11-07 18:58] Phyks commented on #298
[This](https://github.com/Phyks/ampache_react/blob/master/app/utils/locale.js#L9-L32) was working fine for me. I can make a PR for it if you want (but not sure it is still required with the upcoming go refactor?).

[2016-11-08 15:42] clochix commented on #298
We woudl be glad to accept your PR @Phyks.
The new stack won't be released before a few months, so its worth fixing this annoying issue.
Thanks!

[2016-11-08 19:05] Phyks commented on #298
Sorry, I missed the fact that this was done server-side at the moment. Putting it client-side seems to actually be more work than expected :/

I had a deeper look at the issue, and I am not convinced at all the explanation provided is the good one. Especially since `locale` [should parse `Accept-language` headers](https://github.com/florrain/locale/blob/master/src/index.coffee#L52-L56).

[code]

A

[2017-01-03 09:00] clochix opened #371 "[regression] Redirect after login is broken"
Reported by @ZeHiro

When we try to access an application after being disconnected (for example because of a server reboot), we are redirected to the login page. After login, we stay on home page instead of being redirected to the application we first requested.

[2017-01-04 09:41] jsilvestre commented on #371
I think it's more of a Home bug: if you load an application, then you reload the page (F5), it goes back to Home. I noticed that recently and it's annoying :-/

[2017-01-16 09:07] ook opened #373 "Request MFA code to validate MFA activation"
What?
------

When we enable MFA (multi factor authentication), cozy doesn't request any confirmation. Here the list of problems:

* some users won't understand what this feature is and they'll lock them out of their cozy
* some users have a bad clock setup on their device / server and won't discover it before the next login when… they'll be locked out their instance

How?
------

Don't enable MFA

[2017-01-16 09:32] jsilvestre commented on #373
Hi @ook,

You are absolutely right, this is an UX problem that is known and that we would like to fix. That being said, we won't change that in the near future since we are rewriting everything, but this is definitely the target.

The activation UI could use some better layout & explanations too!

[2017-01-17 14:20] babolivier commented on #373
For the record, we thought of implementing such a thing, but Cozy's rewriting delayed it (the work load isn't that light, my schedule is quite busy right now, it would have been finished a few weeks (or a few months, if lucky) before the release of the new stack, which seemed a bit useless to me, I prefer waiting for the new stack).

What I had in mind was to implement a step between clicking "Ena